# Set
### Unordered, Mutable, Unindexed, Single element occurrences, doesn't  support item Assignment and support deletion but not item deletion.

In [1]:
# Set is the collection of Unordered and Unindexed items.
# Set cannot have multiple occurrences of the same element and store unordered values.

#  set object does not support indexing, slicing and item assignments.

### 'string', 'set' and 'tuples' does not support item assignment
###  Only 'list' and 'dictionary' support item assignment
### dictionary and set doesn't support indexing and slicing.

# Basic

In [4]:
mySet = set() 
print(type(mySet))

mySet = {1}                # By this way, set must contain at least one element
print(type(mySet))

<class 'set'>
<class 'set'>

In [4]:
mySet = {6, 4, 5, 3, 1}
print(mySet)

mySet = {6.5, 3.1416, 9.3, 2.0, 6.5}
print(mySet)

mySet = {'e', 'h', 'c', 'a', 'd'}
print(mySet)

mySet = {'tuhin', 'sumon', 'nazrul', 'mhafuz', 'halim'}
print(mySet)

mySet = {1, 3.1416, 'h', 'nazrul', 'd'}
print(mySet)

{1, 3, 4, 5, 6}
{9.3, 2.0, 3.1416, 6.5}
{'a', 'e', 'h', 'd', 'c'}
{'sumon', 'tuhin', 'nazrul', 'mhafuz', 'halim'}
{1, 3.1416, 'nazrul', 'h', 'd'}

### set() input must be only one argument like list or tuple or set 
#### we can't write mySet = set(2, 3, 4, 5, 3)

In [77]:
mySet = set(2, 3, 4, 5, 3)

TypeError: set expected at most 1 arguments, got 5

In [81]:
mySet1 = set(['a', 'b', 'c', 'b', 'a'])         # list input
print(type(mySet1))
print(mySet1)

mySet2 = set((1,1,2,1,4,4,5))                  # tuple input
print(mySet2)

mySet3 = set({1,1,2,6,1,4,4,5,6})              # set input
print(mySet3)

<class 'set'>
{'b', 'a', 'c'}
{1, 2, 4, 5}
{1, 2, 4, 5, 6}

In [80]:
myDictionary = {'55': 'tuhin', '2': 'sumon', '3': 'tuhin'}

mySet2 = set(myDictionary)                  # Dictionary name returns the key
print(mySet2)

mySet3 = set(myDictionary.keys())           # myDictionary.keys() gives the keys list
print(mySet3)

mySet3 = set(myDictionary.values())        # myDictionary.values() gives the values list
print(mySet3)

{'3', '55', '2'}
{'3', '55', '2'}
{'tuhin', 'sumon'}

## set can take only tuple type value. list, dict and set input can not

In [86]:
# We can't write:

    # mySet = {1, 2.563, [3, 'a'],{'e':4, 'f':5},,{4, 5}}
    
    # mySet = set([1, 2.563, [3, 'a'],{'e':4, 'f':5}, {4, 5}])
    # mySet = set((1, 2.563, [3, 'a'],{'e':4, 'f':5}, {4, 5}))
    # mySet = set({1, 2.563, [3, 'a'],{'e':4, 'f':5}, {4, 5}})

In [ ]:
mySet = {1, 2.563, (3, 'a'), (6.5, 'tuhin'), (4, 5)}

print(mySet)

In [11]:
mySet1 = set([1, 2.563, (3, 'a'), (6.5, 'tuhin'), (4, 5)])
mySet2 = set({1:22, '2':3.13, 'a':[3,4,5], 'tuhin':{1:1, 2:2}, 3.5:(6,'a'), '6.3':{2.3, 'halim'}})  # dict key is tuple type
mySet3 = set((1, 2.563, (3, 'a'), (6.5, 'tuhin'), (4, 5)))
mySet4 = set({1, 2.563, (3, 'a'), (6.5, 'tuhin'), (4, 5)})

print(mySet1)
print(mySet2)
print(mySet3)
print(mySet4)

{1, 2.563, (4, 5), (6.5, 'tuhin'), (3, 'a')}
{'tuhin', 1, 'a', 3.5, '6.3', '2'}
{1, 2.563, (4, 5), (6.5, 'tuhin'), (3, 'a')}
{1, 2.563, (4, 5), (3, 'a'), (6.5, 'tuhin')}

# Set is Unordered

In [51]:
mySet = {3, 4, 5, 6}
print(mySet)

mySet.add('halim')                          # Set exectly takes one argument
print(mySet)

mySet.add(('a', 3, 2.415, 'tuhin'))        # only tuple is acceptable
print(mySet)

{3, 4, 5, 6}
{3, 4, 5, 6, 'halim'}
{('a', 3, 2.415, 'tuhin'), 3, 4, 5, 6, 'halim'}

In [50]:
mySet = {"apple", "banana", "cherry"}
print(mySet)

mySet.update(["orange", "mango", "grapes"])
print(mySet)

{'banana', 'apple', 'cherry'}
{'apple', 'cherry', 'mango', 'grapes', 'orange', 'banana'}

## Set is mutable

In [52]:
my_set = {1, 3}
print(my_set)


my_set.add(2)
print(my_set)

my_set.update([2, 3, 4])
print(my_set)

my_set.update([4, 5], {1, 6, 8})
print(my_set)

{1, 3}
{1, 2, 3}
{1, 2, 3, 4}
{1, 2, 3, 4, 5, 6, 8}

In [53]:
my_set = {1, 3, 4, 5, 6}
print(my_set)

my_set.discard(4)
print(my_set)

my_set.remove(6)
print(my_set)

my_set.discard(2)
print(my_set)

{1, 3, 4, 5, 6}
{1, 3, 5, 6}
{1, 3, 5}
{1, 3, 5}

In [55]:
my_set = set("HelloWorld")
print(my_set)

print(my_set.pop())

my_set.pop()
print(my_set)

my_set.clear()
print(my_set)

print(my_set)

{'H', 'o', 'd', 'l', 'W', 'r', 'e'}
H
{'d', 'l', 'W', 'r', 'e'}
set()
set()

## Set is Unindexed

In [56]:
mySet = {"apple", "banana", "cherry"}
print(mySet[1])

TypeError: 'set' object is not subscriptable

## Set single element occurrences

In [57]:
mySet = {"apple", "banana", "cherry"}
print(mySet)

mySet.update(["banana", "cherry", "grapes"])
print(mySet)

{'banana', 'apple', 'cherry'}
{'banana', 'apple', 'cherry', 'grapes'}

## Set doesn't support item assignment

In [58]:
mySet = {"apple", "banana", "cherry"}

mySet[1] = 'mango'

TypeError: 'set' object does not support item assignment

## Set doesn't support item deletion

In [59]:
mySet = {"apple", "banana", "cherry"}

del mySet[1]

TypeError: 'set' object doesn't support item deletion

In [61]:
mySet = {"apple", "banana", "cherry"}

del mySet

# Set methods

## add()
#### add() only can take one argument.
#### value datatype can be int, float, string and Tuple. List, Dict, Set can not.

In [46]:
mySet = {3, 4, 5, 6}
print(mySet)

mySet.add(1)                                # Set exectly takes one argument
print(mySet)

mySet.add('halim')                          # Set exectly takes one argument
print(mySet)

mySet.add((3, 4, 'b'))                     # only tuple is acceptable
print(mySet)

mySet.add(('a', 3, 2.415, 'tuhin'))        # only tuple is acceptable
print(mySet)

{3, 4, 5, 6}
{1, 3, 4, 5, 6}
{1, 3, 4, 5, 6, 'halim'}
{1, 3, 4, 5, 6, 'halim', (3, 4, 'b')}
{1, ('a', 3, 2.415, 'tuhin'), 3, 4, 5, 6, 'halim', (3, 4, 'b')}

#### add() can take only one tuple type value. list, dict and set can not.

In [29]:
# We can't write:

    # mySet.add(['a', 3, 2.415, 'tuhin'])
    # mySet.add({'a', 3, 2.415, 'tuhin'})
    # mySet.add({'a':1, 4:'d'})

## update()   |=

#### update() can take more than 1 argument.
#### only iterator datatypes are acceptable. Like string, list, tuple, dict, set..... int and float can not.

In [6]:
mySet = {1, 2, 3}
print(mySet)

mySet |= set('nazrul')
print(mySet)

mySet |= set(['nazrul'])
print(mySet)

mySet |= set([3, 4, 5])
print(mySet)

mySet |= set({44:'halim'})
print(mySet)

mySet |= set((4, 5, 6))
print(mySet)

mySet |= set({7, 8, 9})
print(mySet)

{1, 2, 3}
{1, 2, 3, 'z', 'a', 'r', 'l', 'n', 'u'}
{1, 2, 3, 'z', 'nazrul', 'a', 'r', 'l', 'n', 'u'}
{1, 2, 3, 4, 5, 'z', 'nazrul', 'a', 'r', 'l', 'n', 'u'}
{1, 2, 3, 4, 5, 'z', 44, 'nazrul', 'a', 'r', 'l', 'n', 'u'}
{1, 2, 3, 4, 5, 6, 'z', 44, 'nazrul', 'a', 'r', 'l', 'n', 'u'}
{1, 2, 3, 4, 5, 6, 7, 8, 9, 'z', 44, 'nazrul', 'a', 'r', 'l', 'n', 'u'}

In [2]:
                                #   |= is applicable only with set
mySet = {1, 2, 3, 4}
print(mySet)

mySet |= {3, 4, 5, 6}
print(mySet)

{1, 2, 3, 4}
{1, 2, 3, 4, 5, 6}

In [43]:
mySet = {1, 2, 3}
print(mySet)

mySet |= {('a', 'b', 2), ('tuhin', 3.1416)}             # only tuple is acceptable
print(mySet)

{1, 2, 3}
{1, 2, 3, ('tuhin', 3.1416), ('a', 'b', 2)}

#### string

In [14]:
mySet = {1, 2, 3}

mySet.update('tuhin')
print(mySet)

mySet.update('tuhin', 'nazrul')
print(mySet)

{1, 2, 3, 'u', 'i', 't', 'h', 'n'}
{1, 2, 3, 'u', 'a', 'i', 'z', 't', 'l', 'r', 'h', 'n'}

#### list, dict, tuple, set

In [11]:
mySet = {"apple", "banana", "cherry"}
print(mySet)

mySet.update(["orange", "mango", "grapes"])
print(mySet)

{'apple', 'banana', 'cherry'}
{'orange', 'mango', 'banana', 'apple', 'cherry', 'grapes'}

In [44]:
my_set = {1, 3}
print(my_set)

my_set.update([2, 3, 4])
print(my_set)

my_set.update([4, 5], {1, 6, 8})
print(my_set)

my_set.update([2, 5], ('a', 'b', 8), {'tuhin'}, {'halim':45})
print(my_set)

{1, 3}
{1, 2, 3, 4}
{1, 2, 3, 4, 5, 6, 8}
{1, 2, 3, 4, 5, 6, 'a', 8, 'tuhin', 'b', 'halim'}

In [45]:
mySet = {1, 2, 3}
mySet.update({4:'nazrul'})

print(mySet)

{1, 2, 3, 4}

## copy()

In [47]:
set1 = {1, 2, 3, 4}  

set2 = set1.copy()
print(set2)

{1, 2, 3, 4}

## union() |

In [37]:
A = {1, 2, 3, 4, 5}
B = {4, 5, 6, 7, 8}

print(A | B)

{1, 2, 3, 4, 5, 6, 7, 8}

In [62]:
A = {1, 2, 3, 4, 5}
B = {4, 5, 6, 7, 8}
C = {4, 8, 9}

print(A | B | C)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [39]:
A = {1, 2, 3, 4, 5}
B = {4, 5, 6, 7, 8}

print(A.union(B))

{1, 2, 3, 4, 5, 6, 7, 8}

In [41]:
A = {1, 2, 3, 4, 5}
B = {4, 5, 6, 7, 8}

print(B.union(A))

{1, 2, 3, 4, 5, 6, 7, 8}

In [2]:
set1 = {('K0', 'K0'), ('K0', 'K1'), ('K1', 'K0'), ('K2', 'K1')}
set2 = {('K0', 'K0'), ('K1', 'K0'), ('K1', 'K0'), ('K2', 'K0')}

print(set1.union(set2))

{('K0', 'K1'), ('K2', 'K1'), ('K1', 'K0'), ('K0', 'K0'), ('K2', 'K0')}

## intersection() &

In [40]:
A = {1, 2, 3, 4, 5}
B = {4, 5, 6, 7, 8}

print(A & B)

{4, 5}

In [61]:
A = {1, 2, 3, 4, 5}
B = {4, 5, 6, 7, 8}
C = {4, 8, 9}

print(A & B & C)

{4}

In [44]:
A = {1, 2, 3, 4, 5}
B = {4, 5, 6, 7, 8}

print(A.intersection(B))

{4, 5}

In [60]:
A = {1, 2, 3, 4, 5}
B = {4, 5, 6, 7, 8}

print(B.intersection(A))

{4, 5}

In [1]:
set1 = {('K0', 'K0'), ('K0', 'K1'), ('K1', 'K0'), ('K2', 'K1')}
set2 = {('K0', 'K0'), ('K1', 'K0'), ('K1', 'K0'), ('K2', 'K0')}

print(set1.intersection(set2))

{('K1', 'K0'), ('K0', 'K0')}

## intersection_update() &=

In [96]:
mySet = {1, 2, 3, 4}
print(mySet)

mySet &= {3, 4, 5, 6}        # We can't write ===> print(mySet &= {3, 4, 5, 6})
print(mySet)

{1, 2, 3, 4}
{3, 4}

In [48]:
A = {1, 2, 3, 4, 5} 
B = {4, 5, 6, 7, 8}
print(A)

A &= B                      # We can't write ===> print(A &= B)
print(A)

{1, 2, 3, 4, 5}
{4, 5}

In [90]:
A = {"a", "b", "c"}  
B = {"c", "d", "e"}  
C = {"f", "g", "c"} 

print(A)
    
A.intersection_update(B, C)     # We can't write ===> myIntersection = A.intersection_update(B, C) 
print(A)

{'c', 'a', 'b'}
{'c'}

In [92]:
A = {"a", "b", "c"}  
B = {"c", "d", "e"}  
C = {"f", "g", "c"} 

print(B)
    
B.intersection_update(C, A)     # We can't write ===> myIntersection = A.intersection_update(B, C) 
print(B)

{'c', 'd', 'e'}
{'c'}

## difference -

In [48]:
A = {1, 2, 3, 4, 5}
B = {4, 5, 6, 7, 8}
 
print(A - B)
print(B - A)

{1, 2, 3}
{8, 6, 7}

In [63]:
A = {1, 2, 3, 4, 5, 6}
B = {5, 6, 7, 8}
C = {2, 3, 8, 9}

print((A - B) - C)

{1, 4}

In [49]:
A = {1, 2, 3, 4, 5}
B = {4, 5, 6, 7, 8}

print(A.difference(B))

{1, 2, 3}

In [50]:
A = {1, 2, 3, 4, 5}
B = {4, 5, 6, 7, 8}

print(B.difference(A))

{8, 6, 7}

In [8]:
mySet = set(range(10))
evenSet = set(range(0, 11, 2))

print(mySet - evenSet)
print(mySet.difference(evenSet))

{1, 3, 5, 7, 9}
{1, 3, 5, 7, 9}

In [1]:
mySet1 = {1, 2, 3, 4}
mySet2 = {1, 2}

print(mySet1.difference(mySet2))
print(mySet2.difference(mySet1))

{3, 4}
set()

## difference_update()  -=

In [49]:
A = {1, 2, 3, 4, 5} 
B = {4, 5, 6, 7, 8}
print(A)

A -= B                         # We can't write ===> print(A -= B)
print(A)

{1, 2, 3, 4, 5}
{1, 2, 3}

In [101]:
A = {1, 2, 3, 4, 5} 
B = {4, 5, 6, 7, 8} 
  
A.difference_update(B) 
print (A)

{1, 2, 3}

## symmetric_difference() ^

In [65]:
A = {1, 2, 3, 4, 5}
B = {4, 5, 6, 7, 8}

print(A ^ B)
print(B ^ A)

{1, 2, 3, 6, 7, 8}
{1, 2, 3, 6, 7, 8}

In [64]:
A = {1, 2, 3, 4, 5}
B = {4, 5, 6, 7, 8}
C = {2, 3, 7, 8, 9}

print(A ^ B ^ C)

{1, 6, 9}

In [56]:
A = {1, 2, 3, 4, 5}
B = {4, 5, 6, 7, 8}

print(A.symmetric_difference(B))

{1, 2, 3, 6, 7, 8}

In [57]:
A = {1, 2, 3, 4, 5}
B = {4, 5, 6, 7, 8}

print(B.symmetric_difference(A))

{1, 2, 3, 6, 7, 8}

In [7]:
s1 = {1, 2}
s2 = {1, 2, 4}
s3 = {4}

print(s1.symmetric_difference(s2))
print(s2.symmetric_difference(s1))

print(s3.symmetric_difference(s2))
print(s2.symmetric_difference(s3))

{4}
{4}
{1, 2}
{1, 2}

## symmetric_difference_update()  ^=

In [1]:
                                #   ^= is applicable only with set
mySet = {1, 2, 3, 4}
print(mySet)

mySet ^= {3, 4, 5, 6}
print(mySet)

{1, 2, 3, 4}
{1, 2, 5, 6}

In [112]:
A = {1, 2, 3, 4, 5}
B = {4, 5, 6, 7, 8}
print(A)

A ^= B
print(A)

{1, 2, 3, 4, 5}
{1, 2, 3, 6, 7, 8}

In [114]:
A = {1, 2, 3, 4, 5} 
B = {4, 5, 6, 7, 8} 
print(A)
  
A.symmetric_difference_update(B) 
print (A)

{1, 2, 3, 4, 5}
{1, 2, 3, 6, 7, 8}

## remove()

In [10]:
mySet = {3, 4, 5, 6}
print(mySet)

mySet.remove(4)
print(mySet)

{3, 4, 5, 6}
{3, 5, 6}

## discard()

In [11]:
mySet = set(range(0, 10, 2))
print(mySet)

mySet.discard(6)
print(mySet)

{0, 2, 4, 6, 8}
{0, 2, 4, 8}

## set - pop

In [27]:
mySet = {9, 3, 4, 5, 6}
print(mySet)

myPop = mySet.pop()
print(mySet)
print(myPop)

{3, 4, 5, 6, 9}
{4, 5, 6, 9}
3

## isdisjoint

In [ ]:
# If set A and set B are non empty sets and A ∩ B is also non empty then they are joint set.
# If set A and set B are non empty sets and A ∩ B is empty set then they are disjoint set.

In [3]:
s1 = {1, 2}
s2 = {1, 2, 4}
s3 = {5}

print(s1.isdisjoint(s2))    # joint set
print(s1.isdisjoint(s3))    # disjoint set

False
True

## issubset()   < or <=

In [109]:
A = {'a', 'b', 'c', 'd', 'e'}
B = {'a', 'b', 'c'}

print(A <= B)
print(B <= A)

print(A < B)
print(B < A)

False
True
False
True

In [4]:
s1 = {1, 2}
s2 = {1, 2, 4}
s3 = {5}

print(s1.issubset(s2))   # is s1 subset of s2
print(s3.issubset(s2))   # is s3 subset of s2

True
False

In [67]:
mySet = set(range(20))
evenSet = set(range(0, 11, 2))

print(mySet)
print(evenSet)

if evenSet.issubset(mySet):
    print('evenSet is subset')
else:
    print('evenSet is not subset')

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19}
{0, 2, 4, 6, 8, 10}
evenSet is subset

## issuperset() > or >=

In [110]:
A = {'a', 'b', 'c', 'd', 'e'}
B = {'a', 'b', 'c'}

print(A >= B)
print(B >= A)

print(A > B)
print(B > A)

True
False
True
False

In [6]:
s1 = {1, 2}
s2 = {1, 2, 4}
s3 = {4}

print(s2.issuperset(s1))   # is s2 superset of s1
print(s2.issuperset(s3))   # is s2 superset of s3

True
True

In [66]:
mySet = set(range(20))
evenSet = set(range(0, 11, 2))

print(mySet)
print(evenSet)

if mySet.issuperset(evenSet):
    print('mySet is Superset')
else:
    print('mySet is not Superset')

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19}
{0, 2, 4, 6, 8, 10}
mySet is Superset

## clear()

In [34]:
mySet = set([1, 2, 3, 4])
print(mySet)

mySet.clear()
print(mySet)

{1, 2, 3, 4}
set()

## frozen set 
#### frozenset is same as set except its elements are immutable. doesn't support (add, remove, discard and pop)
#### just we call use the frozen set.

In [1]:
mySet = {1, 2, 3, 4, 5}
print(mySet)

mySet.remove(4)
print(mySet)

frozenSet = frozenset(mySet)
print(frozenSet)

frozenSet.remove()
print(frozenSet)

{1, 2, 3, 4, 5}
{1, 2, 3, 5}
frozenset({1, 2, 3, 5})

AttributeError: 'frozenset' object has no attribute 'remove'

In [2]:
mySet = {1, 2, 3, 4, 5}
print(mySet)

mySet.remove(4)
print(mySet)

frozenSet = frozenset(mySet)
print(frozenSet)

frozenSet.add(6)
print(frozenSet)

{1, 2, 3, 4, 5}
{1, 2, 3, 5}
frozenset({1, 2, 3, 5})

AttributeError: 'frozenset' object has no attribute 'add'

In [3]:
mySet = {1, 2, 3, 4, 5}
print(mySet)

mySet.remove(4)
print(mySet)

frozenSet = frozenset(mySet)
print(frozenSet)

frozenSet.pop()

{1, 2, 3, 4, 5}
{1, 2, 3, 5}
frozenset({1, 2, 3, 5})

AttributeError: 'frozenset' object has no attribute 'pop'

In [4]:
frozen_set = frozenset(('e', 'a', 'u', 'o', 'i'))
print(sorted(frozen_set, reverse = True))

['u', 'o', 'i', 'e', 'a']

### Tuples use ( ) ----------  print ---------- ( )
### Set use {}  or  set( )  ------- print ---------- { }
### Dictionary use { } ----- print ----------- { }
### List use [ ] --------------- print ---------- [  ]

# Tuple Membership Test

In [7]:
my_set = set("apple")

print('a' in my_set)
print('p' not in my_set)

True
False

# Set Iteration

In [12]:
for letter in set("apple"):
    print(letter)

l
a
p
e

# Set Comprehension

In [1]:
pow2 = set(2 ** x for x in range(10))
print(pow2)

{32, 1, 2, 64, 4, 128, 256, 512, 8, 16}

In [3]:
pow2 = set(2 ** x for x in range(10) if x > 5)
print(pow2)

odd = set(x for x in range(20) if x % 2 == 1)
print(odd)

mySet = set(x+y for x in ['Python ','C '] for y in ['Language','Programming'])
print(mySet)

{64, 256, 128, 512}
{1, 3, 5, 7, 9, 11, 13, 15, 17, 19}
{'C Programming', 'C Language', 'Python Language', 'Python Programming'}

In [4]:
price = {'apple' : 2.99, 'orange' : 2.15, 'milk' : 2.80}

value_add = set(x+.5 for x in price.values())
print(value_add)

{3.3, 2.65, 3.49}

In [1]:
input_list = [1, 2, 3, 4, 4, 5, 6, 6, 6, 7, 7] 
  
set_using_comp = {var for var in input_list if var % 2 == 0} 
  
print(set_using_comp)

{2, 4, 6}