### A for loop acts as an iterator in Python.
### it goes through items that are in a sequence or any other iterable item. 
### strings, lists, tuples, dictionary, set, enumerate, map, filter, zip, range, dict_keys, dict_values.

In [1]:
myList = [num**2 for num in range(0, 11)]

print(myList)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [2]:
myString = ['1', '2', '3', '4', '5']
myStringFloat = list(float(x) for x in myString)
print(myStringFloat)

[1.0, 2.0, 3.0, 4.0, 5.0]

In [1]:
a = ['1', '2', '3', '4', '5', '6']
b = ['3', '4', '5', '22']

values = " ".join(x if x in b else '' for x in a)
print(values)

  3 4 5

# String

In [1]:
myString = 'Hello'

for letter in myString:        # for string for loop takes index no.
    print(letter)

H
e
l
l
o

In [2]:
for letter in 'World':
    print('tuhin')

tuhin
tuhin
tuhin
tuhin
tuhin

In [3]:
for _ in 'python':
    print('cool')

cool
cool
cool
cool
cool
cool

In [4]:
for _ in 'python':
    print(_)

p
y
t
h
o
n

In [5]:
indexCount = 0

for letter in 'Tuhin':
    print('At index %d the letter is %s' %(indexCount, letter))
    indexCount += 1

At index 0 the letter is T
At index 1 the letter is u
At index 2 the letter is h
At index 3 the letter is i
At index 4 the letter is n

In [6]:
for index, letter in enumerate('Tuhin'):
    print('At index %d the letter is %s' %(index, letter))

At index 0 the letter is T
At index 1 the letter is u
At index 2 the letter is h
At index 3 the letter is i
At index 4 the letter is n

In [4]:
myString = 'Show sentence that is start with s'

for word in myString.split():
    if word[0] == 's' or word[0] == 'S':
        print(word)

Show
sentence
start
s

# List

In [17]:
myList = [1, 2, 3, 4, 5]

for number in myList:
    print(number)

1
2
3
4
5

In [18]:
x = range(0, 6, 1)

a = list(x)

for num in a:
    print(num)

0
1
2
3
4
5

In [19]:
myList = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

for num in myList:
    if num%2 == 0:
        print('Even number: %d' %num)
    else:
        print('Odd number: %d' %num)

Odd number: 1
Even number: 2
Odd number: 3
Even number: 4
Odd number: 5
Even number: 6
Odd number: 7
Even number: 8
Odd number: 9
Even number: 10

In [20]:
myList1 = [1, 2, 3]
myList2 = ['a', 'b', 'c']
myList3 = [12.33, 4.5, 143.99]

myList = list(zip(myList1, myList2, myList3))

print(myList)

for a, b, c in myList:
    print('%d --- %s --- %f' %(a, b, c))

[(1, 'a', 12.33), (2, 'b', 4.5), (3, 'c', 143.99)]
1 --- a --- 12.330000
2 --- b --- 4.500000
3 --- c --- 143.990000

In [1]:
myFullList = [
    ['tuhin', 'hussain', 24, 'Male', 1500],
    ['sumon', 'azharul', 25, 'Male', 2400],
    ['nazrul', 'islam', 29, 'Male', 2000],
]

for x in myFullList:
    fn, ln, a, g, s = x
    print('\t', fn, '\t', ln, '\t', a, '\t', g, '\t', s)

	 tuhin 	 hussain 	 24 	 Male 	 1500
	 sumon 	 azharul 	 25 	 Male 	 2400
	 nazrul 	 islam 	 29 	 Male 	 2000

In [2]:
myFullList = [
    ['tuhin', 'hussain', 24, 'Male', 1500],
    ['sumon', 'azharul', 25, 'Male', 2400],
    ['nazrul', 'islam', 29, 'Male', 2000],
]

for fn, ln, a, g, s in myFullList:
    print('\t', fn, '\t', ln, '\t', a, '\t', g, '\t', s)

	 tuhin 	 hussain 	 24 	 Male 	 1500
	 sumon 	 azharul 	 25 	 Male 	 2400
	 nazrul 	 islam 	 29 	 Male 	 2000

In [3]:
myFullList = [
    ['tuhin', 'hussain', 24, 'Male', 1500],
    ['sumon', 'azharul', 25, 'Male', 2400],
    ['nazrul', 'islam', 29, 'Male', 2000],
]

name = str(input('Enter the first name that you want to search:'))

for firstName, *others in myFullList:
    if firstName == name:
        ln, a, g, s = others
        print('\t', firstName, '\t', ln, '\t', a, '\t', g, '\t', s)

Enter the first name that you want to search:sumon
	 sumon 	 azharul 	 25 	 Male 	 2400

In [22]:
available_toppings = ['mushrooms', 'olives', 'green peppers','pepperoni', 'pineapple', 'extra cheese']
requested_toppings = ['mushrooms', 'french fries', 'extra cheese']

for requested_topping in requested_toppings:
    if requested_topping in available_toppings:
        print("Adding " + requested_topping + ".")
    else:
        print("Sorry, we don't have " + requested_topping + ".")
        
print("\nFinished making your pizza!")

Adding mushrooms.
Sorry, we don't have french fries.
Adding extra cheese.

Finished making your pizza!

In [3]:
a = ['1', '2', '3', '4', '5', '6']
b = ['3', '4', '5', '22']

values = "".join(x if x in b else '' for x in a)
print(values)
print(type(values))

345
<class 'str'>

# tuple

In [23]:
tup = (1, 2, 3)

for item in tup:
    print(item)

1
2
3

In [24]:
x = range(0, 5, 1)

a = tuple(x)

for num in a:
    print(num)

0
1
2
3
4

In [26]:
x = tuple(range(0, 4, 1))

for num in x:
    print(num)

0
1
2
3

In [27]:
myList = [(1, 2), (3, 4), (5, 6), (7, 8)]

print(len(myList))

for item in myList:
    print(item)
print(type(item))

4
(1, 2)
(3, 4)
(5, 6)
(7, 8)
<class 'tuple'>

In [28]:
myList = [(1,2, 3), (4, 5, 6), (7, 8, 9)]

for a, b, c in myList:
    print(a)
    print(b)
    print(c)

1
2
3
4
5
6
7
8
9

In [29]:
myTuple1 = (1, 2, 3)
myTuple2 = ('a', 'b', 'c')
myTuple3 = (12.33, 4.5, 143.99)

myTuple = tuple(zip(myTuple1, myTuple2, myTuple3))

print(myTuple)

for a, b, c in myTuple:
    print('%d --- %s --- %f' %(a, b, c))

((1, 'a', 12.33), (2, 'b', 4.5), (3, 'c', 143.99))
1 --- a --- 12.330000
2 --- b --- 4.500000
3 --- c --- 143.990000

# Dictionary

In [31]:
dictionary = {'key1' : 1, 'key2' : 2, 'key3' : 3}

for key in dictionary:
    print(key)

key1
key2
key3

In [32]:
dictionary = {'key1' : 1, 'key2' : 2, 'key3' : 3}

for key in dictionary.keys():
    print(key)

key1
key2
key3

In [30]:
dictionary = {'key1' : 1, 'key2' : 2, 'key3' : 3}

for item in dictionary.items():
    print(item)
print(type(item))

('key1', 1)
('key2', 2)
('key3', 3)
<class 'tuple'>

In [33]:
dictionary = {'key1' : 1, 'key2' : 2, 'key3' : 3}

for key, value in dictionary.items():
    print('%s ------- %d' %(key, value))

key1 ------- 1
key2 ------- 2
key3 ------- 3

In [34]:
myDictionary = {1: ('a', 'tuhin'), 2: ('b', 'sumon'), 3: ('c', 'nazrul')}

myList = []

for a,b in myDictionary.values():
    myList.append(a)
    myList.append(b)

print(myList)

['a', 'tuhin', 'b', 'sumon', 'c', 'nazrul']

In [8]:
myDict = {'bn964':['tuhin', 24, 'BD', 5.5], 'bo400': ['shah alam', 25], 'bp415':['nazrul'], 'bq315':['mhafuz', 23, 'BD']}

for x, y in myDict.items():
    print(x)
    
    for z in y:
        print('\t', z)

bn964
	 tuhin
	 24
	 BD
	 5.5
bo400
	 shah alam
	 25
bp415
	 nazrul
bq315
	 mhafuz
	 23
	 BD

# Set

In [35]:
mySet = {2, 2, 2, 3, 4}

for a in mySet:
    print(a)

2
3
4

# range

In [11]:
x = range(0, 5, 1)

for num in x:
    print(num)

0
1
2
3
4

In [14]:
for num in range(0, 11, 2):
    print(num)

0
2
4
6
8
10

In [15]:
shopping_list = ['milk', "pasta", 'egg', "spam", "bread", "rice"]

for index in range(len(shopping_list)):
    if shopping_list[index] == 'spam':
        print('Spam found at position {0}'.format(index+1))
        break

Spam found at position 4

# enumerate

In [36]:
word = 'Tuhin'

for item in enumerate(word):
    print(item)

(0, 'T')
(1, 'u')
(2, 'h')
(3, 'i')
(4, 'n')

In [37]:
for index, letter in enumerate('Tuhin'):
    print('%d = %s' %(index, letter))

0 = T
1 = u
2 = h
3 = i
4 = n

In [39]:
myList = ['a', 'b', 'c']

for index, letter in enumerate(myList):
    print('%d = %s' %(index, letter))

0 = a
1 = b
2 = c

In [40]:
myList1 = [100, 200, 300]
myList2 = ['a', 'b', 'c']
myList3 = [12.33, 4.5, 143.99]

myList = list(zip(myList1, myList2, myList3))

print(myList)

for index, values in enumerate(myList):
    print(index)
    
    for val in values:
        print('\t', val)

[(100, 'a', 12.33), (200, 'b', 4.5), (300, 'c', 143.99)]
0
	 100
	 a
	 12.33
1
	 200
	 b
	 4.5
2
	 300
	 c
	 143.99

# zip

In [41]:
myList1 = [1, 2, 3]
myList2 = ['a', 'b', 'c']
myList3 = [100, 200, 300]

for item in zip(myList1, myList2, myList3):
    print(item)
    
print(type(item))

(1, 'a', 100)
(2, 'b', 200)
(3, 'c', 300)
<class 'tuple'>

In [42]:
myList1 = [1, 2, 3]
myList2 = ['a', 'b', 'c']
myList3 = [100, 200, 300]

for item1, item2, item3 in zip(myList1, myList2, myList3):
    print('%d --- %s --- %d' %(item1, item2, item3))

1 --- a --- 100
2 --- b --- 200
3 --- c --- 300

In [2]:
myList1 = (1, 2, 3)
myList2 = ('a', 'b', 'c')
myList3 = [100, 200, 300]

for item1, item2, item3 in list(zip(myList1, myList2, myList3)):
    print('%d --- %s --- %d' %(item1, item2, item3))

1 --- a --- 100
2 --- b --- 200
3 --- c --- 300

In [1]:
myList1 = [1, 2, 3]
myList2 = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h']

print(list(zip(myList1, myList2)))

[(1, 'a'), (2, 'b'), (3, 'c')]

# map, filter & lambda

In [44]:
def square(num):
    return num**2

my_nums = [1, 2, 3, 4, 5]

for value in map(square, my_nums):
    print(value)

1
4
9
16
25

In [45]:
def create_cubes(n):
    result = []

    for x in range(n):
        result.append(x**3)
        
    return result

for x in create_cubes(5):
    print(x)

0
1
8
27
64

In [5]:
for x in map(lambda num: num**3, range(5)):
    print(x)

0
1
8
27
64

In [4]:
for x in filter(lambda x : x%2==0, range(0,10)):
    print(x)

0
2
4
6
8

# for with break and continue

### break

In [9]:
for x in range(6):
    if x >= 2:
        break
    else:
        print(x)

0
1

In [10]:
lst = ['a','b','c', 'd']

for count,item in enumerate(lst):
    if count >= 2:
        break
    else:
        print(item)

a
b

In [47]:
numbers = [1, 45, 32, 17, 60]

for number in numbers:
    if number%8 == 0:
        print('The numbers are unacceptable')
        break

else:                                              # else is associated with for loop not with if statement
    print("All those numbers are fine")

The numbers are unacceptable

In [1]:
def count_primes(num):
    count = 0
    
    for x in range(2, num):
        for y in range(2, x+1):
            if x%y==0:
                if x==y:
                    count+=1
                else:
                    break
    return count    

print(count_primes(100))

25

### continue

In [11]:
for x in range(6):
    if x == 2:
        continue
    else:
        print(x)

0
1
3
4
5

In [48]:
lst = ['a','b','c', 'd']

for count,item in enumerate(lst):
    if count == 2:
        continue
    else:
        print(item)

a
b
d

# relation between else and break
### if break is called, then the else will not be executed
### if break is not called, then the else will be executed

In [49]:
numbers = [1, 45, 32, 17, 60]

for number in numbers:
    if number%8 == 0:
        print('The numbers are unacceptable')
        break

else:                                              # else is associated with for loop not with if statement
    print("All those numbers are fine")

The numbers are unacceptable

In [50]:
numbers = [1, 45, 31, 17, 60]

for number in numbers:
    if number%8 == 0:
        print('The numbers are unacceptable')
        break

else:                                              # else is associated with for loop not with if statement
    print("All those numbers are fine")

All those numbers are fine