#### Operators are special symbols in Python that carry out arithmetic or logical computation.

# Arithmetic Operator
#### Arithmetic operators are used to perform mathematical operations

## +,   - ,   \**,   /,   %,   ***,   //

In [2]:
x = 8
y = 3

print(x+y)      # addition
print(x-y)      # subtraction
print(x*y)      # multiplication
print(x/y)      # division
print(x%y)      # remainder
print(x**y)     # power
print(x//y)     # floor division

11
5
24
2.6666666666666665
2
512
2

# Assignment Operators

## =, +=, -=, \*=, /=, %=, //=, **=, &=, |=, ^=, >>=, <<=

In [16]:
a = 10

a += 10
print(a)

a *= 10
print(a)

a -= 10
print(a)

a /= 10            # When we divide any value, the return type comes float by default.
print(a)

a %= 10
print(a)

a //= 4            # means a = a // 4     Down round or Floor Division
print(a)

a **= 4            # means a = a**4
print(a)

20
200
190
19.0
9.0
2.0
16.0

### &=

In [27]:
x = 5           # 101
x &= 3          # 011

print(x)        # 001

1

In [55]:
                                #   &= is applicable only with set
mySet = {1, 2, 3, 4}
print(mySet)

mySet &= {3, 4, 5, 6}
print(mySet)

{1, 2, 3, 4}
{3, 4}

In [1]:
A = {1, 2, 3, 4, 5} 
B = {4, 5, 6, 7, 8}
print(A)

A &= B                      # We can't write ===> print(A &= B)
print(A)

{1, 2, 3, 4, 5}
{4, 5}

### |=

In [41]:
x = 5           # 101
x |= 3          # 011

print(x)        # 111

7

In [54]:
                                #   |= is applicable only with set
mySet = {1, 2, 3, 4}
print(mySet)

mySet |= {3, 4, 5, 6}
print(mySet)

{1, 2, 3, 4}
{1, 2, 3, 4, 5, 6}

In [3]:
mySet = {1, 2, 3}
print(mySet)

mySet |= {('a', 'b', 2), ('tuhin', 3.1416)}             # only tuple is acceptable
print(mySet)

{1, 2, 3}
{1, 2, 3, ('tuhin', 3.1416), ('a', 'b', 2)}

### ^=

In [25]:
x = 5           # 101
x ^= 3          # 011

print(x)        # 110

6

In [53]:
                                #   ^= is applicable only with set
mySet = {1, 2, 3, 4}
print(mySet)

mySet ^= {3, 4, 5, 6}
print(mySet)

{1, 2, 3, 4}
{1, 2, 5, 6}

In [2]:
A = {1, 2, 3, 4, 5}
B = {4, 5, 6, 7, 8}
print(A)

A ^= B
print(A)

{1, 2, 3, 4, 5}
{1, 2, 3, 6, 7, 8}

### <<=

In [38]:
# left shift:
    # 0010 << 1  →  0100
    # 0010 << 2  →  1000
    # 0010 << 3  →  10000
    # 0010 << 4  →  100000

In [40]:
x = 5            # 101
x <<= 1          # x = x << 1  → 1010

print(x)         # 1010

10

### >>=

In [42]:
# right shift:
    # 1011 >> 1  →  0101
    # 1011 >> 2  →  0010
    # 1011 >> 3  →  0001
    # 1011 >> 4  →  0000

In [39]:
x = 5            # 101
x >>= 1          # x = x >> 1  → 010

print(x)         # 010

2

# Comparison Operators
## ==, !=, >, <, >=, <=

In [2]:
print(2 == 2)
print(2 != 2)
print(2 > 2)
print(2 < 3)
print(2 >= 2)
print(2 <= 3)

True
False
False
True
True
True

# Logical Operators
## and, or, not, ^

In [3]:
print(1<4 and 3>2)
print(1==1 or 100==1)
print(not(1==1) or not(100==1) and not((3>5) ^ (6>=2)))     # must wrap all values before and after xor(^)

True
True
False

In [2]:
a = True
a

True

In [3]:
not a

False

### xor

In [4]:
print(False ^ False)
print(False ^ True)
print(True ^ False)
print(True ^ True)

False
True
True
False

In [5]:
def xor(a, b):
    return (not(a and b) and (a or b))

print(xor(False, False))
print(xor(False, True))
print(xor(True, False))
print(xor(True, True))

False
True
True
False

In [1]:
from operator import xor

print(xor(False, False))
print(xor(False, True))
print(xor(True, False))
print(xor(True, True))

False
True
True
False

# Identity Operators (
## is, is not

## is checks memory address and == checks value
### is work with memory address

In [3]:
# only int values grab the same memory location.

myInt1 = 10
myInt2 = 10

print(id(10))
print(id(myInt1))
print(id(myInt2))

140736603792048
140736603792048
140736603792048

In [4]:
x = ["apple", "banana"]
y = ["apple", "banana"]
z = x

print(id(x))
print(id(y))
print(id(z))

print(x is z)                # returns True because z is the same object as x

print(x is y)                # returns False because x is not the same object as y, even if they have the same content

print(x == y)                # is and == is not same thing in python. == checks value and is checks memory address

2146128379144
2146128384264
2146128379144
True
False
True

In [6]:
x = ["apple", "banana"]
y = ["apple", "banana"]
z = x

print(id(x))
print(id(y))
print(id(z))

print(x is not z)              # returns False because z is the same object as x

print(x is not y)              # returns True because x is not the same object as y, even if they have the same content

print(x != y)

2146128384072
2146128379656
2146128384072
False
True
False

In [1]:
x = 5
if (type(x) is int): 
    print("true") 
else: 
    print("false")

true

In [2]:
x = 5.2
if (type(x) is not int): 
    print("true") 
else: 
    print("false")

true

# Membership Operators 
## in, not in

In [8]:
x = ["apple", "banana"]

print("banana" in x)              # returns True because a sequence with the value "banana" is in the list

True

In [9]:
x = ["apple", "banana"]

print("pineapple" not in x)       # returns True because a sequence with the value "pineapple" is not in the list

True

In [2]:
def findDog(a):
    return 'dog' in a.lower().split()

findDog('Is there a Dog here?')

True

In [3]:
def findDog(a):
    return 'cat' not in a.lower().split()

findDog('Is there a Dog here?')

True

In [1]:
a, b, c = 5, 4, 11

print(11 in (a, b, c))

True

In [2]:
a, b, c = 5, 4, 11

print(11 not in (a, b, c))

False

# Bitwise Operators 
## &, |, ^, ~, >>, <<

In [15]:
#!/usr/bin/python

a = 60                                        # 60 = 0011 1100 
b = 13                                        # 13 = 0000 1101 
c = 0

c = a & b;                                    # 12 = 0000 1100
print("Line 1 - Value of c is ", c)

c = a | b;                                    # 61 = 0011 1101 
print("Line 2 - Value of c is ", c)

c = a ^ b;                                    # 49 = 0011 0001
print("Line 3 - Value of c is ", c)

c = ~a;                                       # -61 = 1100 0011
print("Line 4 - Value of c is ", c)

c = a << 2;                                   # 240 = 1111 0000
print("Line 5 - Value of c is ", c)

c = a >> 2;                                   # 15 = 0000 1111
print("Line 6 - Value of c is ", c)

Line 1 - Value of c is  12
Line 2 - Value of c is  61
Line 3 - Value of c is  49
Line 4 - Value of c is  -61
Line 5 - Value of c is  240
Line 6 - Value of c is  15