In [20]:
print("Tuhin")
print("Tuhin" + " Hussain")  # if we use (+) we can concatenate only string to string. 

print("Tuhin", "Hussain", 23, "years old")    # Best one to use (,) if we use cooma(,) we can concatenate any kinds of variables

print('Tuhin ' "Hussain")

Tuhin
Tuhin Hussain
Tuhin Hussain 23 years old
Tuhin Hussain

In [21]:
name = 'Hossain Md Tuhin'; age = 24

print('Hello I am', name + '. And I am', age, 'years old')
print('My age is', age, '.')             # comma (,) automatically add blank space before and after it.
print('My age is ' + str(age) + '.')

Hello I am Hossain Md Tuhin. And I am 24 years old
My age is 24 .
My age is 24.

In [22]:
print("6 * 3 =", (6*3), 'only')            # by using comma(,) we can concatenate any type of variables.

6 * 3 = 18 only

In [1]:
def center_text(text):
    text = str(text)
    margin_left = (80-len(text)) // 2
    print(" "*margin_left, text)

center_text("spam and eggs")
center_text("spam, eggs and chocolate")
center_text("spam, eggs, fruits and chocolate")
center_text(236)
center_text(3.14159)

                                  spam and eggs
                             spam, eggs and chocolate
                         spam, eggs, fruits and chocolate
                                       236
                                     3.14159

In [2]:
def center_text(*args):
    text = ''
    for arg in args:
        text += str(arg) + ' '
    margin_left = (80-len(text)) // 2
    print(" "*margin_left, text)

center_text("spam and eggs")
center_text(236)
center_text(3.14159)
center_text("first", "second", 3, 4, 5.6)

                                  spam and eggs
                                       236
                                     3.14159
                              first second 3 4 5.6

# print() parameters ==> objects, sep, end, file, flush

## objects

In [14]:
print(1, 2, 3, 4, 5, 6)
print('Hossain Md Tuhin')
print("Rafiq ate", 3, "bananas and", 1.25, "liter milk")

1 2 3 4 5 6
Hossain Md Tuhin
Rafiq ate 3 bananas and 1.25 liter milk

## end

In [9]:
print('Hossain', end=' ')
print("Md ", end='')
print("Tuhin")

print('Hello there, ', end="")
print("How are you?")

print('GOOD', end="\n")
print("BYE")

print('GOOD', end="\n\n\n")
print("BYE")

Hossain Md Tuhin
Hello there, How are you?
GOOD
BYE
GOOD


BYE

In [6]:
print('tuhinhussain1995', end='@gmail.com')

tuhinhussain1995@gmail.com

In [19]:
a = 5
print("a =", a, sep='00000', end='\n\n\n')
print("a =", a, sep='0', end='')

a =000005


a =05

## sep

In [8]:
print(1, 2, 3, 4, 5, 6, sep='; ')
print(1, 2, 3, 4, 5, 6, sep=' --- ')
print("Hello", "How are you?", sep=" #>>>** ")

1; 2; 3; 4; 5; 6
1 --- 2 --- 3 --- 4 --- 5 --- 6
Hello #>>>** How are you?

In [18]:
a = 5
print("a =", a, sep='00000')
print("a =", a, sep='__')

a =000005
a =__5

In [16]:
print(1, 2, 3, 4, 5, 6, sep='\n')

1
2
3
4
5
6

## file

In [13]:
names = ['nazrul', 'sumon', 'jesan', 'mhafuz', 'halim']

with open('names.txt', mode='w') as nameFile:
    for name in names:
        print(name, file=nameFile)

In [15]:
with open('dataFile.txt', 'w') as myData:
    for i in range(1, 6):
        for j in range(1, 5):
            print("{1:>2} times {0} is {2}".format(i, j, i*j), file=myData)
        print("-"*20, file=myData)