## Basic

result = 123
print("Result is {}".format(result))  

# We can't write:
#       print("Result is {result}".format(result))
# We can write:
#       print("Result is {}".format(result))
#       print("Result is {0}".format(result))
#       print("Result is {r}".format(r = result))

In [3]:
print("I am {} md Tuhin".format('Hossain'))

result = 123
print("Result is {0}".format(result))

I am Hossain md Tuhin
Result is 123

In [3]:
print('First person {}, second person {} and third person {}'.format("Tuhin", 'Sumon', 'nazrul'))

First person Tuhin, second person Sumon and third person nazrul

In [4]:
print('First person {}, second person {} and third person {}'.format("Sumon", 'nazrul', 'Tuhin'))

First person Sumon, second person nazrul and third person Tuhin

In [5]:
print('First person {1}, second person {2} and third person {0}'.format("Sumon", 'nazrul', 'Tuhin'))

First person nazrul, second person Tuhin and third person Sumon

In [3]:
print('First person {1}, second person {1} and third person {2}'.format("Sumon", 'nazrul', 'Tuhin'))

First person nazrul, second person nazrul and third person Tuhin

In [7]:
print('First person {n}, second person {t} and third person {s}'.format(s="Sumon", n='nazrul', t='Tuhin'))

First person nazrul, second person Tuhin and third person Sumon

In [5]:
s = 'Sumon'; n = "Nazrul"; t = 'Tuhin'
print('First person {2}, second person {2} and third person {0}'.format(s, n, t))

First person Tuhin, second person Tuhin and third person Sumon

In [7]:
name1 = 'Sumon'; name2 = "Nazrul"; name3 = 'Tuhin'
print('First person {t}, second person {t} and third person {s}'.format(s=name1, n=name2, t=name3))

First person Tuhin, second person Tuhin and third person Sumon

## .format float {value : width.precision f}

result = 123
print("Result is {}".format(result))  

# We can't write:
#       print("Result is {result}".format(result))
# We can write:
#       print("Result is {}".format(result))
#       print("Result is {0}".format(result))
#       print("Result is {r}".format(r = result))

In [11]:
result = 100/777
print("The result is {}".format(result))

The result is 0.1287001287001287

In [14]:
print("The result is {r}".format(r = result))

The result is 0.1287001287001287

In [17]:
result = 200/333;
print("The result is {r:.2f}".format(r = result)) # never add space between {value:width.precision f}

The result is 0.60

In [12]:
result = 123
print('Result is {r:08d}'.format(r = result))

Result is 00000123

In [65]:
result = 123
print('Result is {r:8d}'.format(r = result))

Result is      123

In [69]:
result = 123.123456789
print("The result is {r:013.5f}".format(r = result)) 
print("The result is {r:13.5f}".format(r = result))

The result is 0000123.12346
The result is     123.12346

In [113]:
result = 123.456
print("Result value {r:020.010f}".format(r = result)) # 020 is calculated by both of decimal, float and point 
print("Result value {r:20.10f}".format(r = result))   # 020 is calculated by both of decimal, float and point
print("Result value {r:020.3f}".format(r = result))   # 020 is calculated by both of decimal, float and point 
print("Result value {r:20.3f}".format(r = result))   # 020 is calculated by both of decimal, float and point

Result value 000000123.4560000000
Result value       123.4560000000
Result value 0000000000000123.456
Result value              123.456

In [114]:
result = 123.456789
print("Result value {r:10.4f}".format(r = result))

Result value   123.4568

In [1]:
result = 123.456789
print("Result value {r:010.09f}".format(r = result))

Result value 123.456789000

## Alignment, padding and precision with .format()

In [3]:
print('{0:8} | {1:9}'.format('Fruit', 'Quantity'))
print('{0:8} | {1:9}'.format('Apples', 3.))
print('{0:8} | {1:9}'.format('Oranges', 10))

Fruit    | Quantity
Apples   |       3.0
Oranges  |        10

In [4]:
print('{0:<8} | {1:^8} | {2:>8}'.format('Left','Center','Right'))
print('{0:<8} | {1:^8} | {2:>8}'.format(11,22,33))

Left     |  Center  |    Right
11       |    22    |       33

In [6]:
print('{0:^8} | {1:^8} | {2:^8}'.format('Left','Center','Right'))
print('{0:^8} | {1:^8} | {2:^8}'.format(11,22,33))

  Left   |  Center  |  Right
   11    |    22    |    33

In [2]:
print('{0:=<8} | {1:-^8} | {2:*>8}'.format('Left','Center','Right'))
print('{0:=<8} | {1:-^8} | {2:.>8}'.format(11,22,33))

Left==== | -Center- | ***Right
11====== | ---22--- | ......33

In [3]:
print('{0:<8} | {1:^9} | {2:>7}'.format('Fruit', 'Quantity', 'Price'))
print('{0:-^8} | {1:-^9} | {2:-^7}'.format('-', '-', '-'))
print('{0:<8} | {1:^9} | {2:>7}'.format('Apples', 3, 10.53))
print('{0:-^8} | {1:-^9} | {2:-^7}'.format('-', '-', '-'))
print('{0:<8} | {1:^9} | {2:>7}'.format('Oranges', 10, 15.39))
print('{0:-^8} | {1:-^9} | {2:-^7}'.format('-', '-', '-'))

Fruit    | Quantity  |   Price
-------- | --------- | -------
Apples   |     3     |   10.53
-------- | --------- | -------
Oranges  |    10     |   15.39
-------- | --------- | -------

In [4]:
def intention(a):
    if (a == 'Yes' or a == 'yes' or a == 'y' or a == 'Y'):
        return True
    else:
        return False


myList = []

b = input('Do you want to insert data: ')
answer = intention(b)

while (answer):
    name = str(input('Enter user full name: '))
    age = int(input('Enter your age: '))

    myList.append(name)
    myList.append(age)

    b = input('Do you want to insert data: ')
    answer = intention(b)

print('{0:<16} | {1:^9}'.format('Name', 'Age'))
print('{0:-^16} | {1:-^9}'.format('-', '-'))

for x in range(0, len(myList), 2):
    print('{0:<16} | {1:^9}'.format(myList[x], myList[x+1]))
    print('{0:-^16} | {1:-^9}'.format('-', '-'))

Do you want to insert data: yes
Enter user full name: tuhin hussain
Enter your age: 24
Do you want to insert data: y
Enter user full name: nazrul Islam
Enter your age: 28
Do you want to insert data: Y
Enter user full name: azharul sumon
Enter your age: 23
Do you want to insert data: No
Name             |    Age
---------------- | ---------
tuhin hussain    |    24
---------------- | ---------
nazrul Islam     |    28
---------------- | ---------
azharul sumon    |    23
---------------- | ---------

In [1]:
print('{0:^4} ==> {1:^8}==> {2:^4} ==> {3:^4}'.format('DEC', 'BIN', 'HEX', 'OCT'))
print('-' * 34)

for i in range(20):
    print('{0:>4} ==> {0:08b}==> {0:04x} ==> {0:04o}'.format(i))

DEC  ==>   BIN   ==> HEX  ==> OCT
----------------------------------
   0 ==> 00000000==> 0000 ==> 0000
   1 ==> 00000001==> 0001 ==> 0001
   2 ==> 00000010==> 0002 ==> 0002
   3 ==> 00000011==> 0003 ==> 0003
   4 ==> 00000100==> 0004 ==> 0004
   5 ==> 00000101==> 0005 ==> 0005
   6 ==> 00000110==> 0006 ==> 0006
   7 ==> 00000111==> 0007 ==> 0007
   8 ==> 00001000==> 0008 ==> 0010
   9 ==> 00001001==> 0009 ==> 0011
  10 ==> 00001010==> 000a ==> 0012
  11 ==> 00001011==> 000b ==> 0013
  12 ==> 00001100==> 000c ==> 0014
  13 ==> 00001101==> 000d ==> 0015
  14 ==> 00001110==> 000e ==> 0016
  15 ==> 00001111==> 000f ==> 0017
  16 ==> 00010000==> 0010 ==> 0020
  17 ==> 00010001==> 0011 ==> 0021
  18 ==> 00010010==> 0012 ==> 0022
  19 ==> 00010011==> 0013 ==> 0023

In [4]:
class Human:
    def __init__(self):
        self.species = "homo sapiens"
        self.legs = 2
        self.tail = False

    def __str__(self):
        return "Species: {0.species}, Legs: {0.legs}, tail: {0.tail}".format(self)

class Tiger:
    def __init__(self):
        self.species = "panthera tigris"
        self.legs = 4
        self.tail = True

    def __str__(self):
        return "Species: {0.species}, Legs: {0.legs}, tail: {0.tail}".format(self)

if __name__=='__main__':
    human = Human()
    print(human)

    tiger = Tiger()
    print(tiger)

Species: homo sapiens, Legs: 2, tail: False
Species: panthera tigris, Legs: 4, tail: True

# new version after 3.6

In [80]:
name = "Tuhin"
print(f"Hello, his name is {name}")

Hello, his name is Tuhin

In [102]:
name = "Sam"
age = 21
print(f"{name} is {age} years old")

Sam is 21 years old

In [3]:
name1 = "Tuhin"
name2 = 'Sumon'
name3 = 'Nazrul'
age1 = 23
age2 = 24.3
age3 = 25.95241

print(f'{name1}, {name2} and {name3} are rectively {age1}, {age2} and {age3} years old')

Tuhin, Sumon and Nazrul are rectively 23, 24.3 and 25.95241 years old

# Old Way

In [14]:
name1 = "Tuhin"
name2 = 'Sumon'
name3 = 'Nazrul'
age1 = 23
age2 = 24.3
age3 = 25.952414674

print("%s, %s and %s are respectively %d, %.2f and %.4f years old" %(name1, name2, name3, age1, age2, age3))

Tuhin, Sumon and Nazrul are respectively 23, 24.30 and 25.9524 years old

In [15]:
print('I wrote %s programs today.' %3.75)
print('I wrote %d programs today.' %3.75)

print('I wrote %f programs today.' %3.75) 
print('I wrote %.0f programs today.' %3.45)                 # .0f print the round value
print('I wrote %.0f programs today.' %3.75) 
print('I wrote %.1f programs today.' %3.75)

I wrote 3.75 programs today.
I wrote 3 programs today.
I wrote 3.750000 programs today.
I wrote 3 programs today.
I wrote 4 programs today.
I wrote 3.8 programs today.

In [15]:
print("I buy %d %s and %.2f kg %s" %(5, 'banana', 2.36, 'rice'))

I buy 5 !banana and 2.36 kg rice

In [3]:
name1 = "Sam"
name2 = 'Sumon'
name3 = 'NazrulIslam'
age1 = 23
age2 = 9.3
age3 = 25.95241

print("%s |  %6s" %("Student Name", "Age"))
print('%12s |  %3d' %(name1, age1))
print('%12s |  %8.4f' %(name2, age2))
print('%12s |  %8.4f' %(name3, age3))

Student Name |     Age
         Sam |   23
       Sumon |    9.3000
 NazrulIslam |   25.9524

In [1]:
result = 12345

print("Decimal value %09d" %result)
print("Decimal value %9d" %result)
print("Decimal value %d" %result)

Decimal value 000012345
Decimal value     12345
Decimal value 12345

In [1]:
result = 123.456

print("Result value %020.010f" %result)  # with decimal, number and point total 20
print("Result value %020.10f" %result)    # with decimal, number and point total 20
print("Result value %020.2f" %result)    # with decimal, number and point total 20
print("Result value %20.3f" %result)     # with decimal, number and point total 20

Result value 000000123.4560000000
Result value 000000123.4560000000
Result value 00000000000000123.46
Result value              123.456

In [7]:
print('My name is %16s' %'Tuhin')

My name is            Tuhin

In [8]:
result = 123.456789

print("Result value %010.4f" %result)
print("Result value %10.4f" %result)
print("Result value %010.09f" %result)
print("Result value %010.02f" %result)

Result value 00123.4568
Result value   123.4568
Result value 123.456789000
Result value 0000123.46