In [11]:
a, b, c, d = 3, (a+2), (d+4), 6

print(a)
print(b)
print(c)
print(d)

3
5
10
6

In [12]:
myList = [1, 2, 3, 4]
a, b, c, d = myList

print(a)
print(b)
print(c)
print(d)

1
2
3
4

In [5]:
myValue = 3.1416

a = b = c = d = myValue
print(a)
print(b)
print(c)
print(d)

3.1416
3.1416
3.1416
3.1416

In [3]:
data = ['ACME', 50, 91.1, (2012, 12, 21)]

name, shares, price, date = data
print(date)
print(type(date))

name, shares, price, (y, m, d) = data
print(d)

_, shares, price, date = data      # _ calls the unpacking element
print(_)

_, shares, price, _ = data        # _ calls the unpacking element
print(_)

(2012, 12, 21)
<class 'tuple'>
21
ACME
(2012, 12, 21)

In [1]:
record = ('tuhin', 'tuhinhussain1995@gmail.com', '0149379037', '01743535337')
name, email, *phone_numbers = record

print(email)
print(phone_numbers)

print(phone_numbers[0])
print(phone_numbers[1])

tuhinhussain1995@gmail.com
['0149379037', '01743535337']
0149379037
01743535337

In [2]:
record = ('tuhin', '0149379037', '01743535337', 'a@gmail.com', 'b@yahoo.com', 'c@hotmail.com', 26)
name, *phone_email, age = record
phone = phone_email[0:2]
email = phone_email[2:]

print(phone_email)

print(name)
print(phone)
print(email)
print(age)

['0149379037', '01743535337', 'a@gmail.com', 'b@yahoo.com', 'c@hotmail.com']
tuhin
['0149379037', '01743535337']
['a@gmail.com', 'b@yahoo.com', 'c@hotmail.com']
26

In [1]:
myFullList = [
    ['tuhin', 'hussain', 24, 'Male', 1500],
    ['sumon', 'azharul', 25, 'Male', 2400],
    ['nazrul', 'islam', 29, 'Male', 2000],
]

for x in myFullList:
    fn, ln, a, g, s = x
    print('\t', fn, '\t', ln, '\t', a, '\t', g, '\t', s)

	 tuhin 	 hussain 	 24 	 Male 	 1500
	 sumon 	 azharul 	 25 	 Male 	 2400
	 nazrul 	 islam 	 29 	 Male 	 2000

In [2]:
myFullList = [
    ['tuhin', 'hussain', 24, 'Male', 1500],
    ['sumon', 'azharul', 25, 'Male', 2400],
    ['nazrul', 'islam', 29, 'Male', 2000],
]

for fn, ln, a, g, s in myFullList:
    print('\t', fn, '\t', ln, '\t', a, '\t', g, '\t', s)

	 tuhin 	 hussain 	 24 	 Male 	 1500
	 sumon 	 azharul 	 25 	 Male 	 2400
	 nazrul 	 islam 	 29 	 Male 	 2000

In [3]:
myFullList = [
    ['tuhin', 'hussain', 24, 'Male', 1500],
    ['sumon', 'azharul', 25, 'Male', 2400],
    ['nazrul', 'islam', 29, 'Male', 2000],
]

name = str(input('Enter the first name that you want to search:'))

for firstName, *others in myFullList:
    if firstName == name:
        ln, a, g, s = others
        print('\t', firstName, '\t', ln, '\t', a, '\t', g, '\t', s)

Enter the first name that you want to search:sumon
	 sumon 	 azharul 	 25 	 Male 	 2400

# Variable value assigning

In [1]:
# every variable has an unique memory address.

myList = list()                   # list() create a new empty list
print(type(myList))

myDict = dict()                   # list() create a new empty dict
print(type(myDict))

myTuple = tuple()                 # list() create a new empty tuple
print(type(myTuple))

mySet = set()                     # list() create a new empty set
print(type(mySet))

myString = str()                  # list() create a new empty str
print(type(myString))

myInt = int()                     # list() create a new empty int
print(type(myInt))

myFloat = float()                 # list() create a new empty float
print(type(myFloat))

<class 'list'>
<class 'dict'>
<class 'tuple'>
<class 'set'>
<class 'str'>
<class 'int'>
<class 'float'>

## Section - 1

In [11]:
myInt = 4
print(myInt)
print(type(myInt))

myFloat = 3.1416
print(myFloat)
print(type(myFloat))

myString = 'Tuhin'
print(myString)
print(type(myString))

print()

myInt2 = int()
myFloat2 = float()
myString2 = str()

myInt2 = myString
print(myInt2)
print(type(myInt2))

myFloat2 = myInt
print(myFloat2)
print(type(myFloat2))

myString2 = myFloat
print(myString2)
print(type(myString2))

4
<class 'int'>
3.1416
<class 'float'>
Tuhin
<class 'str'>

Tuhin
<class 'str'>
4
<class 'int'>
3.1416
<class 'float'>

In [12]:
myInt = 4
print(myInt)
print(type(myInt))

myFloat = 3.1416
print(myFloat)
print(type(myFloat))

myString = 'Tuhin'
print(myString)
print(type(myString))

print()


myInt2 = int(myFloat)
print(myInt2)
print(type(myInt2))

myFloat2 = float(myInt)
print(myFloat2)
print(type(myFloat2))

myString2 = str(myFloat)
print(myString2)
print(type(myString2))

4
<class 'int'>
3.1416
<class 'float'>
Tuhin
<class 'str'>

3
<class 'int'>
4.0
<class 'float'>
3.1416
<class 'str'>

## Section - 2

In [2]:
anotherList = [1, 2, 3, 4, 5]
anotherDict = {'tuhin' : 343, 'nazrul' : 4533}
anotherTuple = (3, 2, 5, 3, 6)
anotherSet = {3, 2, 5, 3, 6}

myList = []
myDict = {}
myTuple = ()
mySet = set()

myList = anotherTuple
myDict = anotherSet
myTuple = anotherList
mySet = anotherDict

print(type(myList))
print(type(myDict))
print(type(myTuple))
print(type(mySet))

<class 'tuple'>
<class 'set'>
<class 'list'>
<class 'dict'>

In [3]:
anotherList = [1, 2, 3, 4, 5]
anotherDict = {'tuhin' : 343, 'nazrul' : 4533}
anotherTuple = (3, 2, 5, 3, 6)
anotherSet = {3, 2, 5, 3, 6}

myList = []        # or myList = list()
myDict = {}        # or myDict = dict()
myTuple = ()       # or myTuple = tuple()
mySet = set()

myList = list(anotherTuple)
myDict = dict(anotherDict)
myTuple = tuple(anotherList)
mySet = set(anotherDict.values())

print(type(myList))
print(type(myDict))
print(type(myTuple))
print(type(mySet))

<class 'list'>
<class 'dict'>
<class 'tuple'>
<class 'set'>