# Strings are immutable.
#### We cannot delete or remove characters from a string.
## 'string', 'set' and 'tuples' does not support item assignment
##  Only 'list' and 'dictionary' support item assignment
## dictionary and set doesn't support indexing and slicing.

### String item assignment

In [1]:
# string doesn't support item assignment.

name = "TUHIN"

# name[1] = 'O'
# In python we can't replace or concatenate like that

firstLetters = name[:1]
lastLetters = name[2:]
newName = firstLetters + 'O' + lastLetters
print(newName)

TOHIN

In [2]:
myString = 'macdonald'
print(myString)

myString = myString[0].upper() + myString[1:3] + myString[3].upper() + myString[4:]
print(myString)

macdonald
MacDonald

## Basic

In [2]:
print("This is string with double quotiant symbol")
print('This is also string with single quotiant symbol')

This is string with double quotiant symbol
This is also string with single quotiant symbol

In [3]:
print('2'+'5')
print(type('2'+'5'))
print('2' "5")
print(type('2' "5"))

25
<class 'str'>
25
<class 'str'>

In [3]:
print("Hello\nWorld!")                # \n for new line
print('Tuhin\tHossain')               # \t for tab.
print(len("Hello"))
a="Hossain Md"
print(len(a))
print(len(a + " Tuhin"))

print(len('He is a good guy'.split()))
print(type('He is a good guy'.split()))

Hello
World!
Tuhin	Hossain
5
10
16
5
<class 'list'>

In [6]:
mySet = {'1st', '2nd', '3rd', '4th'}
value = 5

mySet.add(str(value) + 'th')
# We can't use here (,) comme
    #mySet.add(str(value), 'th')

print(mySet)

{'3rd', '1st', '4th', '2nd', '5th'}

## raw string

In [5]:
myString = "this is \na string\\ split\t\tand tabbed\n"
print(myString)

raw_string = r"this is \na string\\ split\t\tand tabbed\n"
print(raw_string)

raw_string = r"My father said, \"Never tell a lie!\""
print(raw_string)

raw_string = r'My father said, "Never tell a lie!"'
print(raw_string)

this is
a string\ split		and tabbed

this is \na string\\ split\t\tand tabbed\n
My father said, \"Never tell a lie!\"
My father said, "Never tell a lie!"

### by using comma(,) we can concatenate any type of variables. 
### if we use (+) we can concatenate only string to string. 
### if we use nothing we can concatenate only string to string.

In [7]:
print('My father said "Never tell a lie"')
print("I'm going to sumon's apartment")
print("He doesn't said "        '"Never tell a lie"')
print("He doesn't said " + '"Never tell a lie"')         
print("Tuhin", "Hussain", 23, "years old")               # better to use comma (,)

My father said "Never tell a lie"
I'm going to sumon's apartment
He doesn't said "Never tell a lie"
He doesn't said "Never tell a lie"
Tuhin Hussain 23 years old

In [4]:
a="Tuhin"
print(type(a))
print(a)
print(len(a))
print(a + " Hossain")              # if we use (+) we can concatenate only string to string. 
print(len(a+ " Hossain"))

<class 'str'>
Tuhin
5
Tuhin Hossain
13

In [4]:
print("Tuhin")
print("Tuhin" + " Hussain")  # if we use (+) we can concatenate only string to string. 

print("Tuhin", "Hussain", 23, "years old")    # Best one to use (,) if we use cooma(,) we can concatenate any kinds of variables

print('Tuhin ' "Hussain")

Tuhin
Tuhin Hussain
Tuhin Hussain 23 years old
Tuhin Hussain

In [1]:
name = 'Hossain Md Tuhin'; age = 24

print('Hello I am', name + '. And I am', age, 'years old')
print('My age is', age, '.')             # comma (,) automatically add blank space before and after it.
print('My age is ' + str(age) + '.')

Hello I am Hossain Md Tuhin. And I am 24 years old
My age is 24 .
My age is 24.

In [2]:
# By using semicolon we can write so many statement in a single line.


name = 'Hossain Md Tuhin'; age = 24; height = 5.5

print('Hello I am', name + '. And I am', age, 'years old ', end='')
print('and my height', height)

Hello I am Hossain Md Tuhin. And I am 24 years old and my height 5.5

In [8]:
print('I am', "Hossain Md Tuhin" + "\nI am", 24, 'years old')

I am Hossain Md Tuhin
I am 24 years old

In [9]:
print('length of "Hello" is: ' , len('Hello'))

print("maximum number is: " , max(range(0, 5, 1)))           # range(5) returns list

print("minimum number is: " , min(list(range(0, 5, 1))))     # if you want, no need to add list here

import math
print('Ceil number is: ' , math.ceil(25.01))

length of "Hello" is:  5
maximum number is:  4
minimum number is:  0
Ceil number is:  26

In [10]:
print('length of "Hello" is: ' + str(len('Hello')))

print("maximum number is: " + str(max(list(range(0, 5, 1)))))     # if you want, no need to add list here

print("minimum number is: " + str(min(range(0, 5, 1))))           # range(5) returns list

import math
print('Ceil number is: ' + str(math.ceil(25.01)))

length of "Hello" is: 5
maximum number is: 4
minimum number is: 0
Ceil number is: 26

# String is Sequenced

### supports indexing and slicing

In [1]:
myString = 'Hello'
print(myString[1])
print(myString[1:4])

e
ell

### support concatenation

In [2]:
myString1 = 'Tuhin'
myString2 = 'Hussain'
fullString = myString1 + ' ' + myString2
print(fullString)

Tuhin Hussain

### supports multiplication or times

In [ ]:
name = 'Tuhin'
print(name*3)

myChar = name[0]
print(myChar*10)

print('=' * 60)

a = 10
print(a*3)

b = str(10)
print(type(b))

In [ ]:
print('*' * 80)

letter = 'z'
print(letter * 10)

print('@'*5)
print(type('@'))

# String Iteration

In [2]:
count = 0
for letter in 'Hello World':
    if(letter == 'l'):
        count += 1
print(count,'letters found')

3 letters found

# String Membership Test

In [3]:
print('a' in 'program')

print('ain' not in 'I am Hossain Md Tuhin')

True
False

# String Enumerate

In [4]:
str = 'cold'

list_enumerate = list(enumerate(str))
print('list(enumerate(str) = ', list_enumerate)

list(enumerate(str) =  [(0, 'c'), (1, 'o'), (2, 'l'), (3, 'd')]

# Exercise

In [4]:
def paper_doll(text):
    myString = ''
    
    for x in list(text):
        myString += x*3
        
    return myString

print(paper_doll('Hello'))
print(paper_doll('Mississippi'))

HHHeeellllllooo
MMMiiissssssiiissssssiiippppppiii