# List
### Ordered, Mutable(changeable), Indexed, support item Assignment and support Deletion.
### Sequenced

In [1]:
# difference between List and tuple

# List and Tuple are same. But when we use them.
    # List: When we want to change or delete any item.
    # Tuple: When we don't want to change or delete any item.

### 'string', 'set' and 'tuples' does not support item assignment
###  Only 'list' and 'dictionary' support item assignment
### dictionary and set doesn't support indexing and slicing.

# Basic

In [7]:
myList = []
print(type(myList))

myList = list()
print(type(myList))

<class 'list'>
<class 'list'>

In [3]:
myList = [1, 2, 3]
print(myList)

print(type(myList))
print(len(myList))

[1, 2, 3]
<class 'list'>
3

In [3]:
myList = [6, 4, 5, 3, 1]
print(myList)

myList = [6.5, 3.1416, 9.3, 2.0, 6.5]
print(myList)

myList = ['e', 'h', 'c', 'a', 'd']
print(myList)

myList = ['tuhin', 'sumon', 'nazrul', 'mhafuz', 'halim']
print(myList)

myList = [1, 3.1416, 'h', 'nazrul', 'd']
print(myList)

[6, 4, 5, 3, 1]
[6.5, 3.1416, 9.3, 2.0, 6.5]
['e', 'h', 'c', 'a', 'd']
['tuhin', 'sumon', 'nazrul', 'mhafuz', 'halim']
[1, 3.1416, 'h', 'nazrul', 'd']

In [1]:
myList = [1, 2.563, [3, 'a'],{'e':4, 'f':5}, (6.5, 'tuhin'),{4, 5}]
print(myList)
print(type(myList))

[1, 2.563, [3, 'a'], {'e': 4, 'f': 5}, (6.5, 'tuhin'), {4, 5}]
<class 'list'>

In [2]:
myList = ["String", 123, 45.213]
print(myList)
print(len(myList))

print(type(myList))
print(type(myList[0]))
print(type(myList[1]))
print(type(myList[2]))

['String', 123, 45.213]
3
<class 'list'>
<class 'str'>
<class 'int'>
<class 'float'>

In [2]:
myRange = range(0, 10, 1)
myList = []

myList = list(myRange)

print(myList)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
myList = [1, 2 , [3,4,'hello'], ('world', 5, 5, 6), {"tuhin":10, "sumon":20}]
print(myList)

print(myList[4]["sumon"])

In [3]:
even = [2, 4, 6, 8]
odd = [1, 3, 5, 7, 9]

newList = [even, odd]
print(newList)

[[2, 4, 6, 8], [1, 3, 5, 7, 9]]

## List sum, max and min 
#### sum input must be list or tuple

In [1]:
myList = [50, 20, 10, 100, 60]

print(len(myList))

print(sum(myList))
print(max(myList))
print(min(myList))

5
240
100
10

# List is Ordered

In [12]:
myList = [12, 44, 54, 23, 544]

myList.insert(3, 66)   # first one index, second one value
print(myList)

[12, 44, 54, 66, 23, 544]

In [13]:
myList = [12, 44, 54, 23, 544]

myList.extend([1, 2, 3])
print(myList)

[12, 44, 54, 23, 544, 1, 2, 3]

In [14]:
myList = ['three', "four", 'five']
print(myList)

myList.append('six')                # append() takes exactly one argument
print(myList)                                           # append occurs always at the last position.

myList.append(123)   
print(myList)

['three', 'four', 'five']
['three', 'four', 'five', 'six']
['three', 'four', 'five', 'six', 123]

# List is Mutable

In [15]:
newList = ['one', 'two', 'three', 'four', 'five', 'six']
newList[2] = 'THREE ALL CAPS'
print(newList)

['one', 'two', 'THREE ALL CAPS', 'four', 'five', 'six']

# List item Assignment

In [4]:
newList = ['one', 'two', 'three', 'four', 'five', 'six']
newList[2] = 'THREE ALL CAPS'
print(newList)

['one', 'two', 'THREE ALL CAPS', 'four', 'five', 'six']

# List is Sequenced

### List supports Indexing & Slicing

In [4]:
myList = ['one', "two", 'three', "four", 'five']

print(myList)
print(myList[::])

# Indexing:
print(myList[2])
print(myList[-4])

# Slicing:
print(myList[:3])
print(myList[3:])
print(myList[::2])
print(myList[::-1])
print(myList[::-2])
print(myList[-3:-6:-1])

['one', 'two', 'three', 'four', 'five']
['one', 'two', 'three', 'four', 'five']
three
two
['one', 'two', 'three']
['four', 'five']
['one', 'three', 'five']
['five', 'four', 'three', 'two', 'one']
['five', 'three', 'one']
['three', 'two', 'one']

In [20]:
myList = [1,2,3,4,5]
print(myList[2])
print(myList[-2])

print(type(myList[2]))

print(myList[3:])
print(myList[::2])            # first to last increment by 2
print(myList[::-2])           # first to last decrement by 2

3
4
<class 'int'>
[4, 5]
[1, 3, 5]
[5, 3, 1]

In [21]:
myList1 = ['one', "two", 'three', "four", 'five']
print(type(myList1[3]))

myList2 = [1,2,3,4,5]
print(type(myList2[3]))

myList3 = [1.32,2.856,3.12,4.11,5.21]
print(type(myList3[3]))

<class 'str'>
<class 'int'>
<class 'float'>

In [5]:
myList = [1, 2 , [3,4,'hello'], ('world', 5, 5, 6), {"tuhin":10, "sumon":20}]
print(myList)

print(myList[4]["sumon"])

[1, 2, [3, 4, 'hello'], ('world', 5, 5, 6), {'tuhin': 10, 'sumon': 20}]
20

### List supports Concatenation

In [1]:
myList = ['one', "two", 'three', "FOUR"]
anotherList = ["five", 'six']
print(myList + anotherList)

newList = myList + anotherList
print(newList)

print(myList[1].upper())
print(myList[-1].lower())

['one', 'two', 'three', 'FOUR', 'five', 'six']
['one', 'two', 'three', 'FOUR', 'five', 'six']
TWO
four

In [3]:
even = [2, 4, 6, 8]
odd = [1, 3, 5, 7, 9]
myList = even + odd

print(myList)
print(type(myList))

myList.sort()
print(myList)

[2, 4, 6, 8, 1, 3, 5, 7, 9]
<class 'list'>
[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [3]:
myList1 = ['One', 2, 'three', 4]
myList2 = myList1 + ['V', 'VI']
print(myList2)

newList = myList1[0:2] + myList2[3:]
print(newList)

['One', 2, 'three', 4, 'V', 'VI']
['One', 2, 4, 'V', 'VI']

### List supports Multiplication or times

In [2]:
theBoard = [' '] * 10
print(theBoard)

[' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ']

In [5]:
myList = [2, 3, 4, 5] * 4
print(myList)

[2, 3, 4, 5, 2, 3, 4, 5, 2, 3, 4, 5, 2, 3, 4, 5]

In [4]:
myList = ['one', "two", 'three']

print(myList*2)

['one', 'two', 'three', 'one', 'two', 'three']

## List supports delation

In [9]:
myList = [12, 44, 54, 23, 544, ('tuhin', 'nazrul'), [3.1312, 433.2323]]
print(myList)

del myList[5]
print(myList)

del myList[4:]
print(myList)

del myList[:2]
print(myList)

del myList     # myList is deleted

[12, 44, 54, 23, 544, ('tuhin', 'nazrul'), [3.1312, 433.2323]]
[12, 44, 54, 23, 544, [3.1312, 433.2323]]
[12, 44, 54, 23]
[54, 23]

In [12]:
# we can also delete items in a list by assigning an empty list to a slice of elements.

my_list = ['p','r','o','b','l','e','m']
print(my_list)

my_list[2:3] = []
print(my_list)

my_list[2:5] = []
print(my_list)

['p', 'r', 'o', 'b', 'l', 'e', 'm']
['p', 'r', 'b', 'l', 'e', 'm']
['p', 'r', 'm']

# List Methods
### shuffle(), count(x), index(x), insert(x, y), remove(x), extend([ ]), append(x), pop(), pop(4), sort(), reverse(), copy(), clear()

### List - count

In [7]:
myList = [2, 4, 6, 1, 2, 4, 2, 7]

print(myList.count(2))
print(myList.count(7))

3
1

In [1]:
myList = ['one', 'two', 'six', 'four', 'one', 'six']

print(myList.count('six'))
print(myList.count('four'))

2
1

## Index

In [3]:
myList = ['one', "two", 'three', "four", 'five']

print(myList.index('three'))
print(myList.index('five'))

2
4

In [6]:
myList = ['six', 'one', 'two', 'six', 'four', 'one', 'six', 'seven', 'eight']

print(myList.index('four'))
print(myList.index('six'))
print(myList.index('six', 1))
print(myList.index('six', 4, -1))

4
0
3
6

In [1]:
shopping_list = ['milk', "pasta", 'egg', "spam", "bread", "rice"]

find_item = 'rice'
found_at = None

if find_item in shopping_list:
    found_at = shopping_list.index(find_item)

if found_at is not None:
    print('found at position {0}'.format(found_at))
else:
    print("{0} not found".format(find_item))

found at position 5

### List - insert
#### two argument ==> position <--> iterable or non-iterable object

In [6]:
myList = [12, 44, 54, 23, 544]

myList.insert(3, 66)   # first one index, second one value
print(myList)

[12, 44, 54, 66, 23, 544]

In [8]:
myList = [12, 44, 54, 23, 544]

myList.insert(3, [1, 2, 3])   # first one index, second one value
print(myList)

[12, 44, 54, [1, 2, 3], 23, 544]

In [11]:
myList = [12, 44, 54, 23, 544]

myList.insert(len(myList), [1, 2, 3]) 
print(myList)

[12, 44, 54, 23, 544, [1, 2, 3]]

In [9]:
odd = [1, 9]
odd.insert(1,3)

print(odd)

odd[2:2] = [5, 7]        ################################## most important

print(odd)

[1, 3, 9]
[1, 3, 5, 7, 9]

### List - remove

In [20]:
myList = [12, 44, 54, 23, 544]

myList.remove(23)
print(myList)

[12, 44, 54, 544]

In [19]:
myList = ['six', 'one', 'two', 'six', 'four', 'one', 'six']

print(myList)
myList.remove('four')

print(myList)
myList.remove('six')              # remove() takes exactly one argument

print(myList)
myList.remove('six')

print(myList)
myList.remove('six')
print(myList)

['six', 'one', 'two', 'six', 'four', 'one', 'six']
['six', 'one', 'two', 'six', 'one', 'six']
['one', 'two', 'six', 'one', 'six']
['one', 'two', 'one', 'six']
['one', 'two', 'one']

In [18]:
myList = ['six', 'one', 'two', 'six', 'four', 'one', 'six']

for x in myList:
    if x == 'six':
        myList.remove('six')                       # remove() takes exactly one argument
        
print(myList)

['one', 'two', 'four', 'one']

### List - extend 
#### one argument ==> iterable object

In [14]:
myList = [12, 44, 54, 23, 544]

myList.extend((1, 2, 3))
print(myList)

[12, 44, 54, 23, 544, 1, 2, 3]

In [1]:
myList1 = [1, 2, 3]
myList2 = [4, 5, 6]
myList3 = [7, 8, 9]

newList = []
newList.extend(myList1)
newList.extend(myList2)
newList.extend(myList3)

print(newList)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

### List - append 
#### one argument ==> iterable or non-iterable object

In [2]:
myList = ['three', "four", 'five']
print(myList)

myList.append('six')                # append() takes exactly one argument
print(myList)                                           # append occurs always at the last position.

myList.append(123)   
print(myList)

myList.append(3.1416)   
print(myList)

myList.append(("seven", 'eight', 'nine'))   
print(myList)

myList.append([12, 13])   
print(myList)

myList.append({'tuhin' : 1, 1001 : 'nazrul'})   
print(myList)

['three', 'four', 'five']
['three', 'four', 'five', 'six']
['three', 'four', 'five', 'six', 123]
['three', 'four', 'five', 'six', 123, 3.1416]
['three', 'four', 'five', 'six', 123, 3.1416, ('seven', 'eight', 'nine')]
['three', 'four', 'five', 'six', 123, 3.1416, ('seven', 'eight', 'nine'), [12, 13]]
['three', 'four', 'five', 'six', 123, 3.1416, ('seven', 'eight', 'nine'), [12, 13], {'tuhin': 1, 1001: 'nazrul'}]

### List - pop

In [10]:
myList = ['one', 'two', 'three', 'four', 'five', 'six', 'seven']
print(myList)
print("\n")

print(myList.pop())                                 # default pop always occurs at the last position.
print(myList)
print("\n")

poppedItem = myList.pop()
print(myList)
print(poppedItem)

['one', 'two', 'three', 'four', 'five', 'six', 'seven']


seven
['one', 'two', 'three', 'four', 'five', 'six']


['one', 'two', 'three', 'four', 'five']
six

In [2]:
myList = ['one', 'two', 'three', 'four', 'five', 'six', 'seven']
print(myList)
print('\n')

print(myList.pop(1))
print(myList)
print('\n')

poppedItem = myList.pop(0)    # we popped the value by following indexing no. So give index no inside parameter.
print(poppedItem)
print(myList)
print('\n')

poppedItem = myList.pop(-1)
print(poppedItem)
print(myList)
print('\n')

poppedItem = myList.pop(-2)
print(poppedItem)
print(myList)

['one', 'two', 'three', 'four', 'five', 'six', 'seven']


two
['one', 'three', 'four', 'five', 'six', 'seven']


one
['three', 'four', 'five', 'six', 'seven']


seven
['three', 'four', 'five', 'six']


five
['three', 'four', 'six']

### List - sort

In [1]:
charList = ['m', 'e', "a", 'x', "p", 's']
print(charList)

charList.sort()        # charList.sort() command rearrange the list automatically;
print(charList)
print('\n')

        # We can't write      print(charList.sort())
        # Because this command print nothing. charList.sort() is returned None type

numList = [5, 8, 1, 4, 9, 6]
print(numList)

numList.sort()
print(numList)
print('\n')

stringList = ["sumon", 'azharul', 'nazrul', "tuhin"]
print(stringList)

stringList.sort()
print(stringList)
print('\n')

stringList = ["adam", 'acab', 'abba', "abaa"]
print(stringList)

stringList.sort()
print(stringList)

['m', 'e', 'a', 'x', 'p', 's']
['a', 'e', 'm', 'p', 's', 'x']


[5, 8, 1, 4, 9, 6]
[1, 4, 5, 6, 8, 9]


['sumon', 'azharul', 'nazrul', 'tuhin']
['azharul', 'nazrul', 'sumon', 'tuhin']


['adam', 'acab', 'abba', 'abaa']
['abaa', 'abba', 'acab', 'adam']

In [29]:
stringList = ["adam", 'acab', 'abba', "abaa"]
numTuple = (5, 3, 7, 1, 8, 3, 9)

print(sorted(stringList))
print(sorted(numTuple))

['abaa', 'abba', 'acab', 'adam']
[1, 3, 3, 5, 7, 8, 9]

In [2]:
fruits = {'orange' : "sweet and little bit sour",
         "apple" : 'good for making cider',
         "lemon" : 'a sour, yellow fruit',
         'grape' : 'a small sweet fruit',
         'lime' : 'a sour, green fruit'}

print(sorted(fruits.keys()))

for key in sorted(fruits.keys()):
    print(key, '==>', fruits[key])

['apple', 'grape', 'lemon', 'lime', 'orange']
apple ==> good for making cider
grape ==> a small sweet fruit
lemon ==> a sour, yellow fruit
lime ==> a sour, green fruit
orange ==> sweet and little bit sour

### List - reverse

In [4]:
charList = ['m', 'e', "a", 'x', "p", 's']
print(charList)

charList.reverse()     # charList.reverse()  command rearrange the list automatically;
print(charList)
print('\n')

        # We can't write    print(charList.reverse())
        # Because it doesn't print anything

numList = [5, 8, 1, 4, 9, 6]
print(numList)

numList.reverse()
print(numList)
print('\n')

stringList = ["sumon", 'azharul', 'nazrul', "tuhin"]
print(stringList)

stringList.reverse()
print(stringList)
print('\n')

stringList = ["adam", 'acab', 'abba', "abaa"]
print(stringList)

stringList.reverse()
print(stringList)

['m', 'e', 'a', 'x', 'p', 's']
['s', 'p', 'x', 'a', 'e', 'm']


[5, 8, 1, 4, 9, 6]
[6, 9, 4, 1, 8, 5]


['sumon', 'azharul', 'nazrul', 'tuhin']
['tuhin', 'nazrul', 'azharul', 'sumon']


['adam', 'acab', 'abba', 'abaa']
['abaa', 'abba', 'acab', 'adam']

In [3]:
myList = ['tuhin', 'sumon', 'nazrul']

print(myList[::-1])

print(myList)
myList.reverse()
print(myList)

['nazrul', 'sumon', 'tuhin']
['tuhin', 'sumon', 'nazrul']
['nazrul', 'sumon', 'tuhin']

## copy()

In [19]:
myList = ['cat', 0, 6.7]

new_list = myList.copy()

new_list.append('dog')

print('Old List: ', myList)
print('New List: ', new_list)

Old List:  ['cat', 0, 6.7]
New List:  ['cat', 0, 6.7, 'dog']

In [22]:
myList = ['cat', 0, 6.7]

new_list = myList                  # both are sharing the same memory address

new_list.append('dog')

print('Old List: ', myList)
print('New List: ', new_list)

Old List:  ['cat', 0, 6.7, 'dog']
New List:  ['cat', 0, 6.7, 'dog']

## clear()

In [23]:
myList = ['one', 'two', 'three', 'four', 'five', 'six', 'seven']
print(myList)

myList.clear()
print(myList)

['one', 'two', 'three', 'four', 'five', 'six', 'seven']
[]

## random shuffle

In [6]:
from random import shuffle

myList = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

shuffle(myList)

print(myList)

    # if we write ---- print(shuffle(myList))
    # it will print nothing
    # because shuffle is none type

[5, 7, 4, 2, 1, 8, 3, 6, 9, 10]

In [20]:
from random import randint

print(randint(0, 10))

myNumber = randint(0, 100)
print(myNumber)

4
100

## Nesting List (Matrix)

In [11]:
myList = [1, 'tuhin', 2, [3, 'Hussain']]

print(myList[1])

print(myList[3])
print(myList[3][0])

print(myList[1] + ' ' + myList[3][1])

tuhin
[3, 'Hussain']
3
tuhin Hussain

In [14]:
myList = [1, 'tuhin', 2, {'name' : 'Hussain'}]

print(myList[3]['name'])

Hussain

In [16]:
myList = [1, 'tuhin', 2, {'name' : ['ahmed', 'Hossain', 'mohammed']}]

print(myList[3]['name'][1])

print(myList[1] + ' ' + myList[3]['name'][1])

Hossain
tuhin Hossain

In [16]:
list1 = [1, 2, 3]
list2 = [4, 5, 6]
list3 = [7, 8, 9]

matrix = [list1, list2, list3]

print(matrix)
print(type(matrix))

print(matrix[0])
print(matrix[2])
print(matrix[0][2])           # first one row, second one column
print(matrix[2][1])           # first one row, second one column

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]
<class 'list'>
[1, 2, 3]
[7, 8, 9]
3
8

In [25]:
list1 = [1, 2, 3]
list2 = [4, 5, 6]
list3 = [7, 8, 9]

matrix = [list1, list2, list3]

firstColumn = [row[0] for row in matrix]
print(firstColumn)

secondColumn = [row[1] for row in matrix]
print(secondColumn)

thirdColumn = [row[2] for row in matrix]
print(thirdColumn)

[1, 4, 7]
[2, 5, 8]
[3, 6, 9]

In [24]:
list1 = [1, 4, 7]
list2 = [2, 5, 8]
list3 = [3, 6, 9]

matrix = [list1, list2, list3]

firstRow = [column[0] for column in matrix]
print(firstColumn)

secondRow = [column[1] for column in matrix]
print(secondColumn)

thirdRow = [column[2] for column in matrix]
print(thirdColumn)

[1, 2, 3]
[4, 5, 6]
[7, 8, 9]

## Reference

In [8]:
myList = [1, 2, 3, 4]
anotherList = []
anotherList = myList

print(id(myList))
print(id(anotherList))

newList = list()                  # list() create a new list
print(id(newList))

newList = myList
print(id(newList))

2042334623432
2042334623432
2042335978312
2042334623432

In [10]:
myList = [1, 2, 3, 4]
anotherList = []
anotherList.extend(myList)

print(id(myList))
print(id(anotherList))

newList = list()                  # list() create a new list
print(id(newList))

newList.extend(myList)
print(id(newList))

2042334622408
2042334451016
2042335981512
2042335981512

In [11]:
trees = ["Dog", "Lion"]
identified_trees = []
identified_trees = trees

trees.append("Horse")
print(identified_trees)
trees.append("Cow")
print(identified_trees)

trees.remove("Lion")
print(identified_trees)

['Dog', 'Lion', 'Horse']
['Dog', 'Lion', 'Horse', 'Cow']
['Dog', 'Horse', 'Cow']

In [17]:
trees = ["Dog", "Lion"]
identified_trees = []
identified_trees.extend(trees)

trees.append("Horse")
print(trees)
trees.append("Cow")
print(identified_trees)
print(trees)

trees.remove("Lion")
print(trees)
print(identified_trees)

['Dog', 'Lion', 'Horse']
['Dog', 'Lion']
['Dog', 'Lion', 'Horse', 'Cow']
['Dog', 'Horse', 'Cow']
['Dog', 'Lion']

In [14]:
trees = ["Dog", "Lion"]
identified_trees = list()
identified_trees = trees

trees.append("Horse")
print(identified_trees)
trees.append("Cow")
print(identified_trees)

trees.remove("Lion")
print(identified_trees)

['Dog', 'Lion', 'Horse']
['Dog', 'Lion', 'Horse', 'Cow']
['Dog', 'Horse', 'Cow']

In [16]:
trees = ["Dog", "Lion"]
identified_trees = list()
identified_trees.extend(trees)

trees.append("Horse")
print(identified_trees)
trees.append("Cow")
print(identified_trees)

trees.remove("Lion")
print(trees)
print(identified_trees)

['Dog', 'Lion']
['Dog', 'Lion']
['Dog', 'Horse', 'Cow']
['Dog', 'Lion']

# List Comprehension

In [13]:
pow2 = [2**x for x in range(10)]
print(pow2)

[1, 2, 4, 8, 16, 32, 64, 128, 256, 512]

In [15]:
pow2 = [2**x for x in range(10) if x > 5]
print(pow2)

odd = [x for x in range(20) if x % 2 == 1]
print(odd)

myList = [x+y for x in ['Python ','C '] for y in ['Language','Programming']]
print(myList)

[64, 128, 256, 512]
[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]
['Python Language', 'Python Programming', 'C Language', 'C Programming']

# List Membership Test

In [16]:
my_list = ['p', 'r', 'o', 'b', 'l', 'e', 'm']

print('p' in my_list)

print('a' in my_list)

print('c' not in my_list)

True
False
True

# List Iteration

In [17]:
myTuple = ('one', "two", 'three')

for name in (myTuple):
    print("Hello", name)

Hello one
Hello two
Hello three