# Collections Methods
1. namedtuple()
2. deque
3. ChainMap
4. Counter
5. OrderedDict
6. defaultdict
7. UserDict
8. UserList
9. UserString

# Basic

In [5]:
from collections import namedtuple

Student = namedtuple('Student', ['name', 'age', 'address'])

bn964 = Student('tuhin', 24, 'Desa Petaling')
bp564 = Student(name='nazrul', age=29, address='Desa Petaling')
bq315 = Student(name='mhafuz', age=23, address='Shah Alam')

print(bp564[1])
print(bp564.address)
print(bq315[2])
print(bq315.age)

29
Desa Petaling
Shah Alam
23

In [3]:
from collections import namedtuple

Student = namedtuple('Student', ['name', 'age', 'address'])

bn964 = Student('tuhin', 24, 'Desa Petaling')
bp564 = Student(name='nazrul', age=29, address='Desa Petaling')
bq315 = Student(name='mhafuz', age=23, address='Shah Alam')

print('{0.name} ==> {0.age} ==> {0.address}'.format(bn964))
print('{0.name} ==> {0.age} ==> {0.address}'.format(bp564))
print('{0.name} ==> {0.age} ==> {0.address}'.format(bq315))

print()

print('{0[0]} ==> {0[1]} ==> {0[2]}'.format(bn964))
print('{0[0]} ==> {0[1]} ==> {0[2]}'.format(bp564))
print('{0[0]} ==> {0[1]} ==> {0[2]}'.format(bq315))

tuhin ==> 24 ==> Desa Petaling
nazrul ==> 29 ==> Desa Petaling
mhafuz ==> 23 ==> Shah Alam

tuhin ==> 24 ==> Desa Petaling
nazrul ==> 29 ==> Desa Petaling
mhafuz ==> 23 ==> Shah Alam

## _replace()

In [6]:
from collections import namedtuple

Student = namedtuple('Student', ['name', 'age', 'address'])

bn964 = Student('tuhin', 24, 'Desa Petaling')
bp564 = Student(name='nazrul', age=29, address='Desa Petaling')
bq315 = Student(name='mhafuz', age=23, address='Shah Alam')

print(bq315)

bq315 = bq315._replace(age=244)
print(bq315)

Student(name='mhafuz', age=23, address='Shah Alam')
Student(name='mhafuz', age=244, address='Shah Alam')